[submodule "client"]
	path = client
	url = git@github.com:thetrotfreak/spd-client.git
	branch = dev
[submodule "server"]
	path = server
	url = git@github.com:thetrotfreak/spd-server.git
	branch = main
